<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1 class="index-title"><%= title %></h1>
      <div class="nav-bar">
        <a href="/users/signup"><button class="btn-ctrl">Sign Up</button></a>
        <a href="/users/login"><button class="btn-ctrl">Login</button></a>
      </div>
    </header>
    <footer>
      <h1 class="index-title">An app to manage all your expenses..</h1>
    </footer>
  </body>
</html>
