<!DOCTYPE html>
<html>
  <head>
    <title>User index page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="index-title">Please Register...</h1>
    <form action="/users/signup" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <input type="number" name="age" placeholder="Age" />
      <input type="number" name="phone" placeholder="Phone" />
      <input type="text" name="country" placeholder="Country" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
