<!DOCTYPE html>
<html>
  <head>
    <title>User index page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="index-title">Welcome User</h1>
  </body>
</html>
